.calendar {
  user-select: none;
}

table {
  border-collapse: collapse;
  width: 90%;
}

td,
th {
  border: 1px solid black;
  width: 20vh;
  height: 2.5vh;
  text-align: center;
}

td {
  text-align: center;
  color: white;
}

.times {
  width: 5vh;
}

#confirmedContainer {
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* #confirmedContainer > div {
  display: flex;
  align-items: center;
  gap: 1em;
} */

.cal {
  display: flex;
  flex-direction: column;
}

table:hover {
  cursor: grab;
}

div {
  display: flex;
  justify-content: center;
}

.selected {
  background-color: red;
}

.selection,
.confirmedCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sortedEntry,
.confirmedAvail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0em;
}

.titleDate {
  display: flex;
  gap: 0.5em;
  border-bottom: 1px solid black;
}

.times {
  margin-bottom: 1vh;
  border-bottom: 1px solid black;
}

.titleDate > p,
.timeDiv > p {
  padding-bottom: 0;
  margin: 0;
}

.timeDiv {
  display: flex;
  align-items: center;
  gap: 1em;
  /* padding-bottom: 0;
  margin-bottom: 0; */
}

#bottomButtons {
  display: flex;
  flex-direction: row;
}

button {
  height: 2em;
  background-color: orange;
  color: white;
}

.confirmed {
  background-color: green;
}

.cal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
}

.bottom > div {
  text-align: center;
}

#confirmChoices,
#confirmedContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
