/* define the colors: we can change the colors */
:root {
  --primaryColor: #4c50d3;
  --secondaryColor: #ffce00;
  --fontColor: #1e1e1e;
  --whiteColor: #fff;
  --greyColor: #e7e7e7;
  --darkGreyColor: #5f5f5f;
  --softPurple: #e7e8ff;
  --softBlue: #c3e1ff;
  --softYellow: #fff5cc;
  --softRed: #ffcbc8;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.sidebar {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 2rem;
  background: var(--text-color-primary);
  background: linear-gradient(
    29deg,
    var(--text-color-primary) 0%,
    var(--background-color-secondary) 100%
  );
  color: var(--whiteColor);
  position: fixed;
  left: 0;
}
.sidebar .logo a {
  display: flex;
  align-items: center;
  color: var(--whiteColor);
  text-decoration: none;
}

.logo {
  letter-spacing: 2;
}

.profile {
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--whiteColor);
  color: var(--fontColor);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 5vh 0 5vh 0;
  text-align: center;
  width: 175px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-name p,
h4 {
  line-height: 0.3em;
}

.profile-name {
  font-size: 15px;
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menus a {
  text-decoration: none;
}

.menus button {
  display: flex;
  align-items: center;
  color: var(--fontColor);
  text-decoration: none;
  border: none;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  height: 30px;
  width: 175px;
}
.menus i {
  margin-right: 0.5rem;
}

.menus button:hover {
  color: var(--fontColor);
  background-color: white;
}

.userProfile {
  margin-left: 300px;
}

.main {
  height: auto;
  min-width: 65%;
  padding: 40px 20px;
  background-color: var(--whiteColor);
  z-index: inherit;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 70px;
}
.main #personal {
  height: 80vh;
}

/* .line-between {
  width: 60%;
  border-bottom: 2px solid var(--darkGreyColor);
  margin: 10vh 0 10vh 10%;
} */

.hidden {
  display: none;
}

:root {
  --button-color-primary: #d66238;
  --button-color-secondary: hwb(302 51% 21%);
  --text-color-primary: #86cfd0;
  --text-color-hover: #13c2c5;
  --header-color-primary: #28225d;
  --business-color-primary: hsl(280, 37%, 52%);
  --background-color-secondary: rgba(101, 90, 223, 0.5);
  --business-color-secondary: rgba(147, 86, 178, 0.5);
  --background-color-footer: #e2e2e2;
}

body {
  background-color: white;
  background-size: cover;
  margin-top: 80px;
}

.biz {
  background: var(--text-color-primary);
  background: linear-gradient(
    330deg,
    var(--text-color-primary) 0%,
    var(--background-color-secondary) 100%
  );
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 80px;
  background: var(--header-color-primary);
  background: linear-gradient(
    29deg,
    var(--header-color-primary),
    rgba(40, 34, 93, 1) 27%,
    rgba(101, 90, 223, 1) 100%
  );
  z-index: 2;
}

.logo {
  display: inline-block;
  position: relative;
  height: 80px;
  padding: 0 0 0 5%;
}

.logo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--text-color-primary);
  font-size: 29px;
  font-weight: bold;
  line-height: 80%;
}

.logo a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.logo a:visited {
  text-decoration: none;
  color: var(--text-color-primary);
}

.logo a:hover {
  text-decoration: none;
  color: var(--text-color-hover);
}

.menu {
  display: inline-block;
  position: relative;
  height: 80px;
  padding: 25px 5% 0 0;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:visited {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  color: #28225d;
  text-decoration: none;
}

#firstname,
#lastname,
#username,
#password,
#passConfirm,
#country {
  width: 200px;
}

#newsletter {
  height: 30px;
  vertical-align: top;
}

input {
  height: 30px;
  border-radius: 20px;
  padding: 0 10px;
  width: 220px;
  /* margin-right: px; */
  border: gray solid 1px;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  border: gray solid 1px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 20px;
  color: white;
}

button:hover {
  background-color: var(--secondaryColor); /* Green */
}

.button {
  background-color: var(--button-color-primary);
  border: 0;
  height: 30px;
  color: white;
}

#boxbiz {
  background-color: rgb(220, 170, 152);
  border: 0;
}

#boxuser {
  background-color: #d66238;
  border: 0;
}

#boxbiz:hover {
  background-color: #d66238;
  border: 0;
}

#boxbiz,
#boxuser {
  width: 200px;
  height: 75px;
}

.menu button {
  background-color: transparent;
  border: 2px solid white;
  height: 30px;
}

.topbutton:hover {
  background-color: white;
  color: #1d1954;
}

.template button {
  color: white;
  border: 0px;
  font-weight: bold;
  margin: 0 5px;
}

.box input {
  margin: 0 5px;
}

.template {
  margin-bottom: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form {
  width: 30%;
  text-align: left;
  margin: auto;
}

#submit,
#reset {
  border: 0px;
  font-weight: bold;
  width: 100px;
}

.g_id_signin {
  display: flex;
  justify-content: center;
}
#home {
  margin-right: 10px;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: medium;
  color: #ffffff;
  line-height: 1.2em;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: medium;
  color: var(--header-color-primary);
  line-height: 1.2em;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  font-weight: medium;
  color: var(--header-color-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.main p,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

#table {
  width: 500px;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#table th {
  text-align: end;
  width: 30%;
  vertical-align: middle;
  padding: 8px;
}

#table td {
  padding: 8px;
  vertical-align: middle;
  height: 30px;
  border-bottom: 0;
  text-align: left;
}

.footer {
  background: var(--background-color-footer);
  margin: 0;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.footer h4 {
  font-size: 14px;
}

.links {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.one,
.two,
.three {
  width: 30%;
  vertical-align: middle;
  font-size: 20px;
  padding: 10px 20px;
  line-height: 1em;
}

.box {
  background-color: white;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 12px;
  padding: 50px 20px;
  margin-bottom: 20px;
  min-width: 50%;
}

input[type="checkbox"] {
  vertical-align: middle;
}

#checkbox {
  width: 16px;
  height: 16px;
}

.calendar table {
  border-collapse: collapse;
  border: 2px solid transparent;
}

.calendar th {
  background-color: #28225d;
  color: white;
}

.buttonlink a {
  text-decoration: none;
  color: white;
}

.buttonlink a:hover {
  text-decoration: none;
  color: white;
}

.buttonlink a:visited {
  text-decoration: none;
  color: white;
}

.endform {
  display: flex;
  justify-content: center;
}

#table #jobdescription {
  vertical-align: top;
}

.noUi-value {
  padding: 5px;
}

#salary {
  height: 90px;
}

.noUi-tooltip {
  font-size: 10px;
}
