:root {
  --button-color-primary: #d66238;
  --button-color-secondary: hwb(302 51% 21%);
  --text-color-primary: #86cfd0;
  --header-color-primary: #28225d;
  --business-color-primary: hsl(280, 37%, 52%);
  --background-color-secondary: rgba(101, 90, 223, 0.5);
  --business-color-secondary: rgba(147, 86, 178, 0.5);
  --background-color-footer: #e2e2e2;
}

body {
  background: var(--text-color-primary);
  background: linear-gradient(
    29deg,
    var(--text-color-primary) 0%,
    var(--background-color-secondary) 100%
  );
  background-size: cover;
  margin-top: 150px;
  text-align: center;
}

.biz {
  background: var(--text-color-primary);
  background: linear-gradient(
    330deg,
    var(--text-color-primary) 0%,
    var(--background-color-secondary) 100%
  );
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 80px;
  background: var(--header-color-primary);
  background: linear-gradient(
    29deg,
    var(--header-color-primary),
    rgba(40, 34, 93, 1) 27%,
    rgba(101, 90, 223, 1) 100%
  );
  z-index: 2;
}

.logo {
  display: inline-block;
  position: relative;
  height: 80px;
  padding: 0 0 0 5%;
}

.logo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--text-color-primary);
  font-size: 29px;
  font-weight: bold;
  line-height: 80%;
}

.menu {
  display: inline-block;
  position: relative;
  height: 80px;
  padding: 25px 5% 0 0;
}

#firstname,
#lastname,
#username,
#password,
#passConfirm,
#country {
  width: 200px;
}

#newsletter {
  height: 30px;
  vertical-align: top;
}

input {
  height: 30px;
  border-radius: 20px;
  border: 0;
  padding: 0 10px;
  /* width: 220px; */
  /* margin-right: px; */
  border: gray solid 1px;
}

button {
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 20px;
  color: white;
}

button:hover {
  background-color: var(--button-color-secondary); /* Green */
}

.button {
  background-color: var(--button-color-primary);
  border: 0;
  height: 30px;
  color: white;
}

#boxbiz {
  background-color: #d66238;
  border: 0;
  box-shadow: 2px 2px 3px grey;
}

#boxuser {
  background-color: #d66238;
  border: 0;
  box-shadow: 2px 2px 3px grey;
}

#boxbiz:hover,
#boxuser:hover {
  background-color: rgb(220, 170, 152);
  border: 0;
}

#boxbiz,
#boxuser {
  width: 200px;
  height: 75px;
}

.menu button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  height: 30px;
}

.template button {
  color: white;
  border: 0px;
  font-weight: bold;
  margin: 0 5px;
}

.box input {
  margin: 0 5px;
}

.template {
  margin-bottom: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form {
  width: 30%;
  text-align: left;
  margin: auto;
}

#submit,
#reset {
  border: 0px;
  font-weight: bold;
  width: 100px;
}

.g_id_signin {
  display: flex;
  justify-content: center;
}
#home {
  margin-right: 10px;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: medium;
  color: #ffffff;
  line-height: 1.2em;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: medium;
  color: var(--header-color-primary);
  line-height: 1.2em;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  font-weight: medium;
  color: var(--header-color-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

p,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6em;
  font-size: 16px;
}

#table {
  width: 500px;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#table th {
  text-align: end;
  width: 30%;
  vertical-align: middle;
  padding: 8px;
}

#table td {
  padding: 8px;
  vertical-align: middle;
  height: 30px;
  border-bottom: 0;
  text-align: left;
}

.footer {
  background: var(--background-color-footer);
  margin: 0;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.footer h4 {
  line-height: 0.7em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.links {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.one,
.two,
.three {
  width: 30%;
  vertical-align: middle;
  height: 100%;
  font-size: 20px;
  padding: 0 20px;
  line-height: 1em;
}

.box {
  background-color: white;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 12px;
  padding: 50px 0;
  width: 50%;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  vertical-align: middle;
}

#checkbox {
  width: 16px;
  height: 16px;
}

/* css for javascript validation: added by caro */
.green {
  outline: 3px solid greenyellow;
}

.red {
  outline: 3px solid red;
}
.indexreturn {
  cursor: grab;
}

#createAccount {
  max-height: 0;
  transition: max-height 1s;
  overflow: hidden;
}
