.talentMain {
  font-size: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: flex-end;
}

.talentSearchMain {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* justify-content: center; */
  align-items: center;
  height: 90%;
  width: 100%;
  /* padding-left: 20rem; */
  /* padding-right: 20rem; */
  background-color: var(--greyColor);
  margin-left: 300px;
  width: calc(98% - 300px);
}
.talentCenter {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
  /* padding-left: 20rem; */
  /* padding-right: 20rem; */
  background-color: var(--greyColor);
}
.talentCard {
  background-color: white;
  height: fit-content;
  width: 90%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.talentCardMain {
  display: flex;
  justify-content: space-between;
}
.messageProfileImg img {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  margin-right: 10px;
}
.talentCardHead {
  display: flex;
  justify-content: space-between;
}
.talentCard li {
  list-style-type: none;
}
.talentCard ul {
  padding: 0;
  margin: 0;
}
.skillIssue {
  display: inline-block;
  margin-right: 5px;
  background-color: var(--background-color-footer);
  padding: 1.5px 3px;
  min-width: 26px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
}
.talentSkills p {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.talentBasicInfo {
  flex: 1.2;
}
.talentDesiredPosition {
  flex: 1;
}
.talentSkills {
  flex: 1;
}
.editSearch.hidden {
  display: none;
}
.editSearch {
  position: fixed;
  /* top: 8%; */
  right: 0;
  display: flex;
  z-index: 1040;
  width: calc(100% - 220px - 4rem);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}
.editSearchMain {
  flex-direction: column;
  width: 100%;
  padding-left: 70px;
  height: 83%;
  background-color: white;
  position: relative;
  /* box-shadow: 1px 1px 12px rgba(128, 128, 128, 1); */
}
.editSearchMain form {
  width: 50%;
}
.editSearch h1 {
}
.editSearchMain form > div,
.editSearchMain form > label {
  /* width: 100%; */
  margin: 1em;
  height: 50px;
  display: flex;
  align-items: center;
}

#slider {
  width: 300px;
}
#slider-hide .noUi-tooltip {
  display: none;
}
#slider-hide .noUi-active .noUi-tooltip {
  display: block;
}
.editSearchLeft {
}
.editSearchLeft p {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  height: 50px;
}
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.SearchFormInputsWrapper {
  padding-top: 50px;

  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  grid-template-rows: repeat(5, 50px);
}
.saveSearch {
  margin: 10px;
  width: 80px;
  border-radius: 0%;
}
.saveSearchWrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: gainsboro;
  width: 100%;
}
label[for="slider"] {
  margin-left: 45px;
}
#saveBtn {
  background-color: #1e87f0;
}
.searchTags {
  display: flex;
  justify-content: center;
}
.talentCardHeadLeft {
  display: flex;
}
.talentMatch {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.talentMatch p {
  padding: 0;
  margin: 0;
}

.searchTags {
  /* border: 1px solid #1e87f0; */
  box-sizing: border-box;
  margin: 1em;
  margin-bottom: 0;
  padding: 0em 0.5em;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  border-radius: 5px;
}

.searchTags > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.searchTags ul li {
  margin: 0.5em 0.2em;
  padding: 0.3em;
  color: #fff;
  background-color: #1e87f0;
  border-radius: 5px;
}
.talentSearchTitle {
  margin-bottom: 0;
}
#cancelSearch,
#editSearch {
  background-color: var(--button-color-primary);
  border: 0;
  height: 30px;
  color: white;
  position: relative;
  /* padding-top: 50px; */
  /* margin-top: -50px; */
  bottom: -10px;
  margin-top: 10px;
}
.userProfile {
  height: 100%;
}
progress {
  accent-color: darkgreen;
}
.talentSearchBtns,
.searchTags,
.talentSearchTitle {
  margin-left: 300px;
}
